* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
}

.active{
  background: linear-gradient(135deg, #ff6ec4 0%, #7873f5 50%, #56ccf2 100%);
  color: white;
}

.round-1 {
  border-radius: 1rem;
}
.mb-2x5 {
  margin-bottom: 2.5rem;
}

.fs-14px {
  font-size: 14px;
}

.ls-1 {
  letter-spacing: 0.7px;
}

.ls-2 {
  letter-spacing: 1.4px;
}

.ls-3 {
  letter-spacing: 2.1px;
}

.fs-1x1 {
  font-size: 1.1rem;
}
.fs-1x4 {
  font-size: 1.4rem !important;
}

.icon {
  height: 48px;
  width: 48px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}

.bigger {
  width: 56px;
  height: 56px;
}

.grad {
  background: linear-gradient(135deg, #ff6ec4 0%, #7873f5 50%, #56ccf2 100%);
  color: white;
}

.sBg-1 {
  background: linear-gradient(to bottom right, #ec4899, #f43f5e);
}
.sBg-2 {
  background: linear-gradient(to bottom right, #ef4444, #e11d48);
}

.sBg-3 {
  background: linear-gradient(to bottom right, #3b82f6, #06b6d4);
}
.sBg-4 {
  background: linear-gradient(to bottom right, #000, #1f2937);
}
.sBg-5 {
  background: linear-gradient(to bottom right, #2563eb, #60a5fa);
}
.sBg-6 {
  background: linear-gradient(to bottom right, #9333ea, #ec4899);
}

.pointer {
  cursor: pointer;
}


/* DashBoard */
.rBg-1 {
  background-image: linear-gradient(to bottom right, #ff6ec4, #7873f5);
}

.hint-1 {
  color: #16a34a;
}

.hintBg-1 {
  background-color: #d5ffd8;
}

.rBg-2 {
  background-image: linear-gradient(to bottom right, #7873f5, #56ccf2);
}

.hint-2 {
  color: #2563eb;
}

.hintBg-2 {
  background-color: #eff6ff;
}

.rBg-3 {
  background-image: linear-gradient(to bottom right, #56ccf2, #ff6ec4);
}

.hint-3 {
  color: #9333ea;
}

.hintBg-3 {
  background-color: #f4e9ff;
}

.rBg-4 {
  background-image: linear-gradient(to bottom right, #ff6ec4, #56ccf2);
}

.hint-4 {
  color: #ea580c;
}

.hintBg-4 {
  background-color: #fff0dd;
}

.txtsm {
  font-size: 0.75rem;
  padding: 2px 9px;
}

.pink {
  color: #ff6ec4 !important;
}

.bg-pink {
  background-color: #ff6ec41a;
}

.form-check-input:focus {
  border-color: none !important;
  box-shadow: none;
}
.form-check-input:not(:checked) {
  background-color: #d1d5db !important;
  border-color: #e5e7eb !important;
}

.checkBg-1:checked {
  background-color: #ff6ec4 !important;
  border-color: #ff6ec4 !important;
}
.checkBg-2:checked {
  background-color: #7873f5 !important;
  border-color: #7873f5 !important;
}
.checkBg-3:checked {
  background-color: #56ccf2 !important;
  border-color: #56ccf2 !important;
}

.custom {
  scale: 1.3;
  cursor: pointer;
}

