
@media (min-width: 576px) {
  .col-sm-6 {
    max-width: calc(50% - 0.5rem);
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    max-width: calc(50% - 0.5rem);
  }

  button[name='action'].col-md-6{
    max-width: calc(50% - 0.75rem);
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    max-width: calc((100% / 3) - 0.667rem);
  }
}
